<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="<%= settings.relative_url_base %>/css/main.css"/>
		<title></title>
	</head>
	<body>
		<h1>Compund</h1>
		<p><%= title %></p>
		<hr>
		<%= text %>
	</body>
</html>
