%form(action="/" method="post")
  %input(type="hidden" name="fullpath" value="#{self.fullpath}")
  %textarea.editor#content(name="content")= self['editing_content']
  %input(type="submit" value="Save" class="btn")
