!!! 5

%html
  %head
    %title #{self['title']} - Scrapple
    %link(rel="stylesheet" type="text/css" href="/css/main.scss")
  %body
    .container
      .row
        .col.maincol
          = self['content']
        .col.subcol
          %ul
            - self['tags'].each do |tag|
              %li= tag

