!!! 5

%html
  %head
    %title #{self['title']} - Scrapple in Layout
    %link(rel="stylesheet" type="text/css" href="/css/progit.scss")
  %body
    .container
      .row
        .col.maincol
          = yield
        .col.subcol
          %ul
            - (self['tags']||[]).each do |tag|
              %li= tag
