!!! 5

%html
  %head
    %title #{self['title']} - Scrapple in Layout
    %link(rel="stylesheet" type="text/css" href="/css/scrapple.scss")
  %body
    .container
      .row
        .col.maincol
          = yield
        .col.subcol
          = index
      .row
        %pre= html_escape(settings.hash.pretty_inspect)
